/jackson/nbproject/private/
/jackson/build/
/jackson/dist/
/spring/nbproject/private/
/spring/build/
/spring/dist/
/inyecciondependencias/nbproject/private/
/inyecciondependencias/build/
/inyecciondependencias/dist/
/basedatos/nbproject/private/
/basedatos/build/
/basedatos/dist/
/seguros/nbproject/private/
/seguros/build/
/seguros/dist/
/segurosv1/nbproject/private/
/segurosv1/build/