<a href="#/seguro/listado">Volver</a>
<form name="form" novalidate>
    <fieldset>
        <legend>Seguro Médico</legend>
        <label for="nif">NIF:</label><input id="nif" name="nif" type="text" ng-model="seguro.nif" required ng-pattern="/(^[X-Z]\d{7}[A-Z]$)|(^\d{8}[A-Z]$)/" />
        <span ng-show="form.nif.$error.required && form.nif.$dirty">El campo es requerido</span>
        <span ng-show="form.nif.$error.pattern">No cumple la expresi&oacute;n regular</span>
        <br>
        <label for="nombre">Nombre:</label><input id="nombre" name="nombre" type="text" ng-model="seguro.nombre" required />
        <span ng-show="form.nombre.$error.required && form.nombre.$dirty">El campo es requerido</span>
        <br>
        <label for="ape1">1º Apellido:</label><input id="ape1" name="ape1" type="text" ng-model="seguro.ape1" required />
        <span ng-show="form.ape1.$error.required && form.ape1.$dirty">El campo es requerido</span>
        <br>
        <label for="edad">Edad:</label><input id="edad" name="edad" type="number" ng-model="seguro.edad" required min="18" max="120" />
        <span ng-show="form.edad.$error.required && form.edad.$dirty">El campo es requerido</span>
        <span ng-show="form.edad.$error.number">No es un n&uacute;mero</span>
        <span ng-show="form.edad.$error.min">La edad m&iacute;nima es de 18 a&ntilde;os</span>
        <span ng-show="form.edad.$error.max">La edad máxima es de 120 a&ntilde;os</span>      
        <br>
        <label for="sexo">Sexo:</label><select id="sexo" name="sexo" type="checkbox" ng-model="seguro.sexo" ng-options="sexo.codSexo as sexo.descripcion for sexo in sexos" required ><option value="">--Elige opcion--</option></select>
        <span ng-show="form.sexo.$error.required && form.sexo.$dirty">El campo es requerido</span>
        <br>
        <label for="casado">Casado:</label><input id="casado" name="casado" type="checkbox" ng-model="seguro.casado" /><br>
        <label for="numHijos">Nº Hijos:</label><input id="numHijos" name="numHijos" type="text" ng-model="seguro.numHijos" /><br>
        <label for="embarazada">Embarazada:</label><input id="embarazada" name="embarazada" type="checkbox" ng-model="seguro.embarazada" /><br>
        <label for="fechaCreacion">Fecha de creaci&oacute;n:</label><input id="fechaCreacion" name="fechaCreacion" type="text" ng-model="seguro.fechaCreacion" ca-datepicker="dd/mm/yy" /><br>
    </fieldset>

    <fieldset>
        <legend>Coberturas</legend>
        <label for="oftalmologia">Oftalmologia:</label><input id="oftalmologia" name="oftalmologia" type="checkbox" ng-model="seguro.coberturas.oftalmologia" /><br>
        <label for="dental">Dental:</label><input id="dental" name="dental" type="checkbox" ng-model="seguro.coberturas.dental" /><br>
        <label ng-show="seguro.sexo === 'M'" for="fecundacionInVitro">Fecundacion In Vitro:</label><input ng-show="seguro.sexo === 'M'" id="fecundacionInVitro" name="fecundacionInVitro" type="checkbox" ng-model="seguro.coberturas.fecundacionInVitro" /><br>
    </fieldset>      
    <fieldset>
        <legend>Enfermedades</legend>
        <label for="corazon">Corazon:</label><input id="corazon" name="corazon" type="checkbox" ng-model="seguro.enfermedades.corazon" /><br>
        <label for="estomacal">Estomacal:</label><input id="estomacal" name="estomacal" type="checkbox" ng-model="seguro.enfermedades.estomacal" /><br>
        <label for="rinyones">Ri&ntilde;ones:</label><input id="rinyones" name="rinyones" type="checkbox" ng-model="seguro.enfermedades.rinyones" /><br>
        <label for="alergia">Alergia:</label><input id="alergia" name="alergia" type="checkbox" ng-model="seguro.enfermedades.alergia" /><br>
        <label for="nombreAlergia">Nombre de la alergia:</label><input ng-disabled="seguro.enfermedades.alergia === false" id="nombreAlergia" name="nombreAlergia" type="text" ng-model="seguro.enfermedades.nombreAlergia" /><br>
    </fieldset> 

    <button ng-click="guardar()" ng-disabled="form.$invalid">Guardar</button>
</form>

<a href="#/seguro/listado">Volver</a>

<div ng-show="bussinessMessages.length > 0">
    <div>Se han producido los siguientes errores</div>
    <ul>
        <li ng-repeat="bussinessMessage in bussinessMessages">
            <strong ng-hide="businessMessage.fieldName == null">{{bussinessMessage.fieldName}}:</strong>
            {{bussinessMessage.message}}.
        </li>
    </ul>
    <button ng-click="bussinessMessages = []" >Quitar mensajes</button>
</div>